.menu-container {
  align-items: center;
  align-content: center;
  background-color: #1d6f42;
  color: #ddd;

  font-weight: 300;
}
.title-bar {
  text-align: center;
  padding-top: 5px;
}
.menu-bar {
  display: flex;
}

.menu-item {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  display: flex;
}

.menu-item:hover {
  background-color: #155833;
  cursor: pointer;
}

.menu-item.selected {
  color: #1d6f42;
  background-color: #ddd;
}

.menu-item.selected:hover {
  background-color: #ddd;
  cursor: default;
}

.menu-item-area {
    background-color: #ddd;
    color: black;
}
.menu-item-area span{
    padding: 10px 10px;
}
.menu-item-area span:hover {
    background-color: #fff;
    cursor: pointer;
}

.formula-bar {
    padding: 8px 12px;
    
}
#cell-dropdown {
    background-color: #f9f9f9;
    width: 120px;
    border: 1px solid #ddd;
}

#formula-value {
    padding-left: 30px;
    width: 80%;
}